
<table >
        <tr>
            <td>fisrtname</td>
            <td><input type="text"></td>
        </tr>
        <tr>
                <td>lastname</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                    <td>email</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                        <td>password</td>
                        <td><input type="text"></td>
                    </tr>
                 
    </table>